<% include ./header %>
      
        <div class="row">
          <div class="form-group col-xs-12 col-sm-6 col-md-4">
            <label for="">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Blog Title" value="<%= config['title']%>">
          </div>
          <div class="form-group col-xs-12 col-sm-6 col-md-4">
            <label for="">Tagline</label>
            <input type="text" class="form-control" id="tagline" placeholder="Little bit longer almost a description" value="<%= config['tagline']%>">
          </div>
          <div class="form-group col-xs-12 col-sm-6 col-md-4">
            <label for="">Base Blog URL</label>
            <input type="text" class="form-control" id="blogUrl" placeholder="The Base URL for your blog" value="<%= config['blogUrl']%>">
          </div>
          <div class="form-group col-xs-12 col-sm-6 col-md-4">
            <label for="">Twitter URL</label>
            <input type="text" class="form-control" id="twitter" placeholder="Link to your Twitter account" value="<%= config['twitter']%>">
          </div>
          <div class="form-group col-xs-12 col-sm-6 col-md-4">
            <label for="">Facebook URL</label>
            <input type="text" class="form-control" id="facebook" placeholder="Link to your Facebook account" value="<%= config['facebook']%>">
          </div>
          <div class="form-group col-xs-12 col-sm-6 col-md-4">
            <label for="">Github URL</label>
            <input type="text" class="form-control" id="github" placeholder="Link to your Github account" value="<%= config['github']%>">
          </div>
          <div class="form-group col-xs-12 col-sm-6 col-md-4">
            <label for="">Copyright Name</label>
            <input type="text" class="form-control" id="copyrightName" placeholder="danme for copyright" value="<%= config['copyrightName']%>">
          </div>
          <div class="form-group col-xs-12 col-sm-6 col-md-4">
            <label for="">Copyright URL</label>
            <input type="text" class="form-control" id="copyrightUrl" placeholder="Link to main site" value="<%= config['copyrightUrl']%>">
          </div>
          <div class="form-group col-xs-12 col-sm-6 col-md-4">
            <label for="">Copyright Year</label>
            <input type="text" class="form-control" id="copyrightYear" placeholder="year of copyright" value="<%= config['copyrightYear']%>">
          </div>
          <div class="form-group col-xs-12 col-sm-6 col-md-4">
            <a type="button" class="btn btn-warning" href="<%= config['blogUrl']%>/admin">Cancel</a>
            <button type="button" class="btn btn-success save">Save</button>
          </div>
        </div>
      </div>
  </div>
  
  <script>
    $('.save').click(function() {
      // Post to save file
      $.post( "<%= config['blogUrl']%>/admin/save", 
        { 
          method: 'site',
          title: $('#title').val(),
          tagline: $('#tagline').val(),
          blogUrl: $('#blogUrl').val(),
          twitter: $('#twitter').val(),
          facebook: $('#facebook').val(),
          github: $('#github').val(),
          copyrightName: $('#copyrightName').val(),
          copyrightUrl: $('#copyrightUrl').val(),
          copyrightYear: $('#copyrightYear').val()
        }, 
        function( data ) {
          // redirect to admin page
          window.location.replace('<%= config['blogUrl']%>/admin');
      });
    });
  </script>

<% include ./footer %>