        <!-- Footer -->
        <footer class="footer">

            <div class="footer-socials">
                <a href="<%= config['facebook']%>"><i class="fa fa-facebook"></i></a>
                <a href="<%= config['twitter']%>"><i class="fa fa-twitter"></i></a>
                <a href="<%= config['github']%>"><i class="fa fa-github"></i></a>
            </div>

            <div class="footer-bottom">
                <i class="fa fa-copyright"></i> Copyright &copy; <a href="<%= config['copyrightUrl']%>"><%= config['copyrightName']%></a> <%= config['copyrightYear']%>, <a href="./admin/">Admin</a>
            </div>
        </footer>
    </div> <!-- Container -->
</body>

</html>